<h2>Methods that were not run</h2><table>
<tr><td>tests.PcGarageAuthTest.authenticateTest01</td></tr>
<tr><td>tests.PcGarageAuthTest.registerTest01</td></tr>
<tr><td>tests.Base.closeBrowserAtEnd</td></tr>
<tr><td>tests.Base.closeBrowserAtEnd</td></tr>
<tr><td>tests.Base.closeBrowserAtEnd</td></tr>
<tr><td>tests.Base.closeBrowserAtEnd</td></tr>
<tr><td>tests.PcGarageAuthTest.negativeAuthenticate</td></tr>
</table>