<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>All Tests</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a263c2">  <td>20/03/10 23:23:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UpdataBasketTest.UpdateBasket01()[pri:0, instance:tests.UpdataBasketTest@2ddc8ecb]">UpdateBasket01</td> 
  <td>main@293907205</td>   <td></td> </tr>
<tr bgcolor="9b9692">  <td>20/03/10 23:23:48</td>   <td>20775</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WishTest.WishTest01()[pri:0, instance:tests.WishTest@229d10bd]">WishTest01</td> 
  <td>main@293907205</td>   <td></td> </tr>
<tr bgcolor="8bf372">  <td>20/03/10 23:23:16</td>   <td>-11510</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddingToBasketTest.addItemToBasketTest01()[pri:0, instance:tests.AddingToBasketTest@6973bf95]">addItemToBasketTest01</td> 
  <td>main@293907205</td>   <td></td> </tr>
<tr bgcolor="b46fba">  <td>20/03/10 23:22:44</td>   <td>-43685</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.beforeTest()[pri:0, instance:tests.PcGarageAuthTest@1fe20588]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@293907205</td>   <td></td> </tr>
<tr bgcolor="b46fba">  <td>20/03/10 23:22:57</td>   <td>-30376</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.beforeTest()[pri:0, instance:tests.SearchTest@6ce139a4]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@293907205</td>   <td></td> </tr>
<tr bgcolor="b46fba">  <td>20/03/10 23:23:11</td>   <td>-16796</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.beforeTest()[pri:0, instance:tests.AddingToBasketTest@6973bf95]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@293907205</td>   <td></td> </tr>
<tr bgcolor="b46fba">  <td>20/03/10 23:23:22</td>   <td>-5183</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.beforeTest()[pri:0, instance:tests.UpdataBasketTest@2ddc8ecb]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@293907205</td>   <td></td> </tr>
<tr bgcolor="b46fba">  <td>20/03/10 23:23:43</td>   <td>15466</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.beforeTest()[pri:0, instance:tests.WishTest@229d10bd]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@293907205</td>   <td></td> </tr>
<tr bgcolor="b46fba">  <td>20/03/10 23:24:23</td>   <td>55823</td> <td>&nbsp;</td><td title="&lt;&lt;Base.closeBrowserAtEnd()[pri:0, instance:tests.PcGarageAuthTest@1fe20588]">&lt;&lt;closeBrowserAtEnd</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@293907205</td>   <td></td> </tr>
<tr bgcolor="6c8e6b">  <td>20/03/10 23:22:54</td>   <td>-33591</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PcGarageAuthTest.positiveAuthenticate(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.PcGarageAuthTest@1fe20588]">positiveAuthenticate</td> 
  <td>main@293907205</td>   <td></td> </tr>
<tr bgcolor="f69090">  <td>20/03/10 23:23:02</td>   <td>-25087</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchTest.searchTest01()[pri:0, instance:tests.SearchTest@6ce139a4]">searchTest01</td> 
  <td>main@293907205</td>   <td></td> </tr>
<tr bgcolor="b46fba">  <td>20/03/10 23:22:57</td>   <td>-30379</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.triggerScreenshoot(org.testng.ITestResult)[pri:0, instance:tests.PcGarageAuthTest@1fe20588]">&lt;&lt;triggerScreenshoot</td> 
<td>&nbsp;</td>  <td>main@293907205</td>   <td></td> </tr>
<tr bgcolor="b46fba">  <td>20/03/10 23:23:11</td>   <td>-16797</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.triggerScreenshoot(org.testng.ITestResult)[pri:0, instance:tests.SearchTest@6ce139a4]">&lt;&lt;triggerScreenshoot</td> 
<td>&nbsp;</td>  <td>main@293907205</td>   <td></td> </tr>
<tr bgcolor="b46fba">  <td>20/03/10 23:23:22</td>   <td>-5184</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.triggerScreenshoot(org.testng.ITestResult)[pri:0, instance:tests.AddingToBasketTest@6973bf95]">&lt;&lt;triggerScreenshoot</td> 
<td>&nbsp;</td>  <td>main@293907205</td>   <td></td> </tr>
<tr bgcolor="b46fba">  <td>20/03/10 23:23:43</td>   <td>15465</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.triggerScreenshoot(org.testng.ITestResult)[pri:0, instance:tests.UpdataBasketTest@2ddc8ecb]">&lt;&lt;triggerScreenshoot</td> 
<td>&nbsp;</td>  <td>main@293907205</td>   <td></td> </tr>
<tr bgcolor="b46fba">  <td>20/03/10 23:24:23</td>   <td>55423</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.triggerScreenshoot(org.testng.ITestResult)[pri:0, instance:tests.WishTest@229d10bd]">&lt;&lt;triggerScreenshoot</td> 
<td>&nbsp;</td>  <td>main@293907205</td>   <td></td> </tr>
</table>
